alias ..="cd .."

alias gg='npx git-cz'

alias c='clear' 

alias dockerkillall='docker kill $(docker ps -q)'

alias k="kubectl"

# alias vim="nvim"

alias p="pnpm"

alias gph="git push origin HEAD"

alias ddocker="brew services start colima"



# I'll be doing another one for Linux, but this one will give you 
# a pop up notification and sound alert (using the built-in sounds for macOS)

# Requires https://github.com/caarlos0/timer to be installed

# Mac setup for pomo
alias work="timer 25m && terminal-notifier -message 'Pomodoro'\
        -title 'Work Timer is up! Take a Break 😊'\
        -appIcon '~/Pictures/pumpkin.png'\
        -sound Crystal"
        
alias rest="timer 5m && terminal-notifier -message 'Pomodoro'\
        -title 'Break is over! Get back to work 😬'\
        -appIcon '~/Pictures/pumpkin.png'\
        -sound Crystal"
